<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>rattledash_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{125,123}</string>
				<key>spriteSourceSize</key>
				<string>{125,123}</string>
				<key>textureRect</key>
				<string>{{0,130},{125,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rattledash_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{123,122}</string>
				<key>spriteSourceSize</key>
				<string>{123,122}</string>
				<key>textureRect</key>
				<string>{{126,130},{123,122}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>rattledash_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{131,129}</string>
				<key>spriteSourceSize</key>
				<string>{131,129}</string>
				<key>textureRect</key>
				<string>{{0,0},{131,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/rattledash.png</string>
			<key>size</key>
			<string>{254,253}</string>
			<key>textureFileName</key>
			<string>icons/rattledash.png</string>
		</dict>
	</dict>
</plist>